.box{
    width: 100px;
    /* background-color: black; */
    height: 100px;

    position: absolute;
    left: 200px;
    top: 200px;
}
img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}
